<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Algorithmic SEC filings">
  <meta name="author" content="Aelo">
  <link rel="shortcut icon" href="{{ url_for('static', filename='logo.svg') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <title>Simple Flask</title>

  <style>
    /* Set background image */
    body {
      background-image: url('../static/sean-pollock-PhYq704ffdA-unsplash.jpg');
      background-size: cover;
    }

    .card {
      background-color: rgba(52, 58, 64, 0.9);
    }


    .form-control::placeholder {
      color: aliceblue;
    }

    .form-control,
    .form-control:focus,
    .form-control option {
      color: aliceblue;
      background-color: rgb(71, 79, 92);
    }

  </style>

<body>

  <!-- Header -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../static/logo.svg" alt="" height="25px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LinK 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
    </ul>
  </nav>

  <!-- Form -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="card p-4 opacity-50 text-light">
          <div class="form-group">
            <label for="input1">URL:</label>
            <input type="text" class="form-control" id="input1" placeholder="Your url">
          </div>
          <div class="form-group">
            <label for="input2">Description:</label>
            <textarea type="text" class="form-control" rows="3"
              placeholder="Short description of your business or webpage"></textarea>
          </div>
          <div class="form-group">
            <label for="input3">Location:</label>
            <input type="text" class="form-control" id="input3" placeholder="The city where your business located">
          </div>
          <div class="form-group">
            <label for="input4">Industry:</label>
            <select type="text" class="form-control" id="input4">
              <option value="\">Lawyer</option>
            </select>
          </div>
          <div class="form-group mb-5">
            <label for="input5">Sub-industry:</label>
            <select type="text" class="form-control" id="input5">
              <option value="\">Family law</option>
              <option value="\">Criminal law</option>
              <option value="\">Business law</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>